In [ ]:
pip install sparse_dot_topn

Requirement already satisfied: sparse_dot_topn in /usr/local/lib/python3.6/dist-packages (0.2.9)
Requirement already satisfied: setuptools>=18.0 in /usr/local/lib/python3.6/dist-packages (from sparse_dot_topn) (51.3.3)
Requirement already satisfied: scipy>=1.2.3 in /usr/local/lib/python3.6/dist-packages (from sparse_dot_topn) (1.4.1)
Requirement already satisfied: cython>=0.29.15 in /usr/local/lib/python3.6/dist-packages (from sparse_dot_topn) (0.29.21)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.6/dist-packages (from sparse_dot_topn) (1.19.5)

In [ ]:
import pandas as pd 
import re
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np
from scipy.sparse import csr_matrix
import sparse_dot_topn.sparse_dot_topn as ct  # Leading Juice for us
import time
pd.set_option('display.max_colwidth', -1)

#email splitting function definition
def email_split(x):
  token = x.split('@')
  return token[0]


user =  pd.read_csv('/content/users from Aug.csv')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

In [ ]:
user =  pd.read_csv('/content/users from Aug.csv')

# Date settings - based on optimised dates we are considering last 14 days user for comparison

user['created'] = pd.to_datetime(user['created'],format = '%Y-%m-%d %H:%M')
user['created'] = user['created'].dt.date
user['days_from_register'] = (user.loc[0,'created']- user['created'] ).apply(lambda x:x.days)
user = user[user['days_from_register']<14]

df = user[['email','username']].drop(columns = ['username'])
df = df.rename(columns={'email':'RoomTypes'})


#email splitting
df['RoomTypes'] = df['RoomTypes'].apply(email_split)
df.head()

        RoomTypes
0  nepalmondal361
1  vishum333
2  notifyamam123
3  dhamgayeindu
4  abhishekyad969

In [ ]:
df.shape
number = df.shape[0]
print(number)

# this number is the amount of users that will be compared. 
# On average the system will have to check 500 - 1000 per each user registration

631

In [ ]:
#  ngrams(here we are taking n = 3 thus 3-gram (trigrams ) as  most room types only contain two or three words
#  used for cleaning and removing some punctuation (dots, comma’s etc) i.e.((,-./)) from a string 
#  and generate and collect all n-grams of the string.  
 
def ngrams(string, n=3):

    string = re.sub(r'[,-./]|\sBD',r'', string)
    ngrams = zip(*[string[i:] for i in range(n)])
    return [''.join(ngram) for ngram in ngrams]

# Testing ngrams work for verification 

print('All 3-grams in "Deluxroom":')
ngrams('Deluxroom')

All 3-grams in "Deluxroom":

['Del', 'elu', 'lux', 'uxr', 'xro', 'roo', 'oom']

In [ ]:
room_types = df['RoomTypes']
vectorizer = TfidfVectorizer(min_df=1, analyzer=ngrams)
tf_idf_matrix = vectorizer.fit_transform(room_types)

print(tf_idf_matrix[0])

  (0, 197)	0.33324462218204615
  (0, 1714)	0.31324399716000767
  (0, 655)	0.2880461896340714
  (0, 946)	0.26486203356352384
  (0, 1957)	0.2448614085414854
  (0, 2122)	0.27905270285074657
  (0, 1890)	0.25905207782870815
  (0, 1782)	0.31324399716000767
  (0, 670)	0.299053327872785
  (0, 2178)	0.2372575238114217
  (0, 1100)	0.27905270285074657
  (0, 1977)	0.33324462218204615

In [ ]:
# calculate the similarity between two vectors of TF-IDF values the Cosine Similarity is usually used.
# result matrix in a very sparse terms and Scikit-learn deals with this nicely by returning a sparse CSR matrix.

def awesome_cossim_top(A, B, ntop, lower_bound=0):
    # force A and B as a CSR matrix.
    # If they have already been CSR, there is no overhead
    A = A.tocsr()
    B = B.tocsr()
    M, _ = A.shape
    _, N = B.shape
 
    idx_dtype = np.int32
 
    nnz_max = M*ntop
 
    indptr = np.zeros(M+1, dtype=idx_dtype)
    indices = np.zeros(nnz_max, dtype=idx_dtype)
    data = np.zeros(nnz_max, dtype=A.dtype)

    ct.sparse_dot_topn(
        M, N, np.asarray(A.indptr, dtype=idx_dtype),
        np.asarray(A.indices, dtype=idx_dtype),
        A.data,
        np.asarray(B.indptr, dtype=idx_dtype),
        np.asarray(B.indices, dtype=idx_dtype),
        B.data,
        ntop,
        lower_bound,
        indptr, indices, data)

    return csr_matrix((data,indices,indptr),shape=(M,N))

In [ ]:
#  Top 10 with similarity above 0.71
t1 = time.time()
matches = awesome_cossim_top(tf_idf_matrix, tf_idf_matrix.transpose(), 10, 0.71)
t = time.time()-t1
print("SELFTIMED:", t)

SELFTIMED: 0.0073511600494384766

In [ ]:
# unpacks the resulting sparse matrix
def get_matches_df(sparse_matrix, name_vector, top=number):
    non_zeros = sparse_matrix.nonzero()
    
    sparserows = non_zeros[0]
    sparsecols = non_zeros[1]
    
    if top:
        nr_matches = top
    else:
        nr_matches = sparsecols.size
    
    left_side = np.empty([nr_matches], dtype=object)
    right_side = np.empty([nr_matches], dtype=object)
    similairity = np.zeros(nr_matches)
    
    for index in range(0, nr_matches):
        left_side[index] = name_vector[sparserows[index]]
        right_side[index] = name_vector[sparsecols[index]]
        similairity[index] = sparse_matrix.data[index]
    
    return pd.DataFrame({'left_side': left_side,
                          'right_side': right_side,
                           'similairity': similairity})

In [ ]:
# store the  matches into new dataframe called matched_df and 
# printing 10 samples
matches_df = get_matches_df(matches, room_types, top=number)
matches_df = matches_df[matches_df['similairity'] < 0.99999] # For removing all exact matches
matches_df.sample(10)

               left_side           right_side  similairity
123  tech+testaccount565  tech+testaccount566  0.919886
118  tech+testaccount566  tech+testaccount564  0.919886
126  tech+testaccount564  tech+testaccount565  0.919886
122  tech+testaccount565  tech+testaccount564  0.919886
130  tech+testaccount563  tech+testaccount565  0.919886
127  tech+testaccount564  tech+testaccount566  0.919886
125  tech+testaccount564  tech+testaccount563  0.919886
131  tech+testaccount563  tech+testaccount566  0.919886
117  tech+testaccount566  tech+testaccount563  0.919886
119  tech+testaccount566  tech+testaccount565  0.919886

In [ ]:
# printing the matches in sorted order
matches_df.sort_values(['similairity'], ascending=False).head(10)

               left_side           right_side  similairity
117  tech+testaccount566  tech+testaccount563  0.919886
118  tech+testaccount566  tech+testaccount564  0.919886
119  tech+testaccount566  tech+testaccount565  0.919886
121  tech+testaccount565  tech+testaccount563  0.919886
122  tech+testaccount565  tech+testaccount564  0.919886
123  tech+testaccount565  tech+testaccount566  0.919886
125  tech+testaccount564  tech+testaccount563  0.919886
126  tech+testaccount564  tech+testaccount565  0.919886
127  tech+testaccount564  tech+testaccount566  0.919886
129  tech+testaccount563  tech+testaccount564  0.919886

In [ ]:
matches_df.shape

(12, 3)

In [ ]:
#intializing step, we just assume at all users are genuine, then among them only mark the fraud ones

user1 = user.iloc[0:number]
for i in user1.index:
  user1.loc[i,'Multiple_Accounts'] = 'False'

user2 = pd.merge(user1,df,left_on= user1.index,right_on=df.index)
user2.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

   key_0  Unnamed: 0  ... Multiple_Accounts       RoomTypes
0  0      1           ...  False             nepalmondal361
1  1      2           ...  False             vishum333
2  2      3           ...  False             notifyamam123
3  3      4           ...  False             dhamgayeindu
4  4      5           ...  False             abhishekyad969

[5 rows x 16 columns]

In [ ]:
#cross checkking simialrity with initial database and then flagging the fraud ones

for i in user2.index:
  for j in matches_df.index:
   if  user2.loc[i,'RoomTypes'] == matches_df.loc[j,'left_side']:
     user2.loc[i,'Multiple_Accounts'] = 'True'
   if  user2.loc[i,'RoomTypes'] == matches_df.loc[j,'right_side']:
     user2.loc[i,'Multiple_Accounts'] = 'True'   

user2.Multiple_Accounts.value_counts()

False    627
True     4
Name: Multiple_Accounts, dtype: int64

In [ ]:
#these are the fraud users registered in last 14 days

user2[user2['Multiple_Accounts']=='True']

     key_0  Unnamed: 0  ... Multiple_Accounts            RoomTypes
116  116    117         ...  True              tech+testaccount566
117  117    118         ...  True              tech+testaccount565
118  118    119         ...  True              tech+testaccount564
119  119    120         ...  True              tech+testaccount563

[4 rows x 16 columns]

Now for matching username too

In [ ]:
# reading dataset as df
df =  pd.read_csv('/content/room_type (1).csv')


df = df.iloc[0:number]

In [ ]:
#  ngrams(here we are taking n = 3 thus 3-gram (trigrams ) as  most room types only contain two or three words
#  used for cleaning and removing some punctuation (dots, comma’s etc) i.e.((,-./)) from a string 
#  and generate and collect all n-grams of the string.  

 
def ngrams(string, n=3):

    string = re.sub(r'[,-./]|\sBD',r'', string)
    ngrams = zip(*[string[i:] for i in range(n)])
    return [''.join(ngram) for ngram in ngrams]


# Testing ngrams work for verification 

print('All 3-grams in "Deluxroom":')
ngrams('Deluxroom')


room_types = df['RoomTypes']
vectorizer = TfidfVectorizer(min_df=1, analyzer=ngrams)
tf_idf_matrix = vectorizer.fit_transform(room_types)

print(tf_idf_matrix[0])

All 3-grams in "Deluxroom":
  (0, 34)	0.3019252320906027
  (0, 1601)	0.4580411111813528
  (0, 802)	0.43055046947367814
  (0, 1955)	0.383554907067911
  (0, 1144)	0.39591635690213695
  (0, 521)	0.4580411111813528

In [ ]:
def awesome_cossim_top(A, B, ntop, lower_bound=0):
    # force A and B as a CSR matrix.
    # If they have already been CSR, there is no overhead
    A = A.tocsr()
    B = B.tocsr()
    M, _ = A.shape
    _, N = B.shape
 
    idx_dtype = np.int32
 
    nnz_max = M*ntop
 
    indptr = np.zeros(M+1, dtype=idx_dtype)
    indices = np.zeros(nnz_max, dtype=idx_dtype)
    data = np.zeros(nnz_max, dtype=A.dtype)

    ct.sparse_dot_topn(
        M, N, np.asarray(A.indptr, dtype=idx_dtype),
        np.asarray(A.indices, dtype=idx_dtype),
        A.data,
        np.asarray(B.indptr, dtype=idx_dtype),
        np.asarray(B.indices, dtype=idx_dtype),
        B.data,
        ntop,
        lower_bound,
        indptr, indices, data)

    return csr_matrix((data,indices,indptr),shape=(M,N))

In [ ]:
#  Top 10 with similarity above 0.71
t1 = time.time()
matches = awesome_cossim_top(tf_idf_matrix, tf_idf_matrix.transpose(), 10, 0.71)
t = time.time()-t1
print("SELFTIMED:", t)

SELFTIMED: 0.0019102096557617188

In [ ]:
# unpacks the resulting sparse matrix
def get_matches_df(sparse_matrix, name_vector, top=number):
    non_zeros = sparse_matrix.nonzero()
    
    sparserows = non_zeros[0]
    sparsecols = non_zeros[1]
    
    if top:
        nr_matches = top
    else:
        nr_matches = sparsecols.size
    
    left_side = np.empty([nr_matches], dtype=object)
    right_side = np.empty([nr_matches], dtype=object)
    similairity = np.zeros(nr_matches)
    
    for index in range(0, nr_matches):
        left_side[index] = name_vector[sparserows[index]]
        right_side[index] = name_vector[sparsecols[index]]
        similairity[index] = sparse_matrix.data[index]
    
    return pd.DataFrame({'left_side': left_side,
                          'right_side': right_side,
                           'similairity': similairity})

In [ ]:
# store the  matches into new dataframe called matched_df and 
# printing 10 samples
matches_df = get_matches_df(matches, room_types, top=number)
matches_df = matches_df[matches_df['similairity'] < 0.99999] # For removing all exact matches
matches_df.sample(10)

          left_side      right_side  similairity
547  Vibia7          Hibia7          0.755223
543  Vibia9          Hibia9          0.755223
460  Ankit1498       Ankit1497       0.726328
131  Testaccount563  Testaccount566  0.891527
290  Ankit1518       Ankit1511       0.723275
287  Ankit1519       Ankit1511       0.723275
304  Ankit1512       Ankit1511       0.723275
466  Ankit1496       Ankit1497       0.726328
458  Ankit1498       Ankit1494       0.726328
472  Ankit1497       Ankit1496       0.726328

In [ ]:
matches_df.shape

(131, 3)

In [ ]:
# printing the matches in sorted order
kv = matches_df.sort_values(['similairity'], ascending=False)
matches_df.sort_values(['similairity'], ascending=False).head(10)

          left_side      right_side  similairity
121  Testaccount565  Testaccount563  0.897526
129  Testaccount563  Testaccount565  0.897526
117  Testaccount566  Testaccount563  0.891527
130  Testaccount563  Testaccount564  0.891527
118  Testaccount566  Testaccount565  0.891527
122  Testaccount565  Testaccount564  0.891527
123  Testaccount565  Testaccount566  0.891527
125  Testaccount564  Testaccount563  0.891527
126  Testaccount564  Testaccount565  0.891527
131  Testaccount563  Testaccount566  0.891527

In [ ]:
kv1 = kv.left_side.unique()
kv1.shape

(59,)

In [ ]:
matches_df.shape

(131, 3)

In [ ]:
kv.shape

(131, 3)

In [ ]:
#cross checkking simialrity with initial database and then flagging the fraud ones

for k in user2.index:
  for l in kv.index:
   if  user2.loc[k,'username'] == kv.loc[l,'left_side']:
     user2.loc[k,'Multiple_Accounts'] = 'True'
   if  user2.loc[k,'username'] == kv.loc[l,'right_side']:
     user2.loc[k,'Multiple_Accounts'] = 'True'    

user2.head()

   key_0  Unnamed: 0  ... Multiple_Accounts       RoomTypes
0  0      1           ...  False             nepalmondal361
1  1      2           ...  False             vishum333
2  2      3           ...  False             notifyamam123
3  3      4           ...  False             dhamgayeindu
4  4      5           ...  False             abhishekyad969

[5 rows x 16 columns]

In [ ]:
user2.Multiple_Accounts.value_counts()

False    571
True     60
Name: Multiple_Accounts, dtype: int64

In [ ]:
#these are the fraud users registered in last 14 days

user2[user2['Multiple_Accounts']=='True']

     key_0  Unnamed: 0  ... Multiple_Accounts                 RoomTypes
116  116    117         ...  True              tech+testaccount566
117  117    118         ...  True              tech+testaccount565
118  118    119         ...  True              tech+testaccount564
119  119    120         ...  True              tech+testaccount563
204  204    205         ...  True              simba.sa.h.u988
214  214    215         ...  True              simba.sah.u9.8.8
243  243    244         ...  True              yashphadke0607
255  255    256         ...  True              durgeshsingh53555
270  270    271         ...  True              r.a.mku.marz.z.z1002
272  272    273         ...  True              r.am.k.u.marz.zz1.002
273  273    274         ...  True              ra.m.k.u.ma.r.zzz10.02
275  275    276         ...  True              ra.mk.u.m.arz.z.z10.02
276  276    277         ...  True              ra.mk.uma.r.z.zz.1.002
277  277    278         ...  True              ramk.u.m.ar.z.zz1002
278  278    279         ...  True              r.a.m.ku.marzz.z1002
279  279    280         ...  True              ra.mku.marzz.z.1.002
280  280    281         ...  True              r.amk.um.ar.z.zz.1.002
281  281    282         ...  True              r.a.mkumar.z.zz.1002
282  282    283         ...  True              r.a.m.k.u.mar.zz.z.1.002
283  283    284         ...  True              r.a.mk.u.ma.r.z.zz.1.002
285  285    286         ...  True              ra.mk.um.ar.z.z.z.1002
292  292    293         ...  True              dishakoranga10
295  295    296         ...  True              simba.sah.u.9.8.8
308  308    309         ...  True              simbas.a.h.u988
309  309    310         ...  True              simbas.a.hu.9.88
319  319    320         ...  True              simbas.ahu.9.88
334  334    335         ...  True              r.a.m.k.u.ma.rzz.z.1002
335  335    336         ...  True              r.a.m.kum.a.rz.z.z1002
336  336    337         ...  True              ra.mku.m.a.rzzz10.02
353  353    354         ...  True              r.amku.m.arzz.z1002
355  355    356         ...  True              ram.k.uma.r.zzz1.002
361  361    362         ...  True              r.a.m.k.u.mar.zzz.1.002
363  363    364         ...  True              r.am.k.u.m.ar.zz.z10.02
365  365    366         ...  True              r.a.mku.m.arzz.z.1.002
375  375    376         ...  True              r.a.mk.u.marzz.z.1.002
376  376    377         ...  True              ra.m.k.um.a.rz.zz1.002
377  377    378         ...  True              ram.ku.m.ar.zz.z10.02
378  378    379         ...  True              r.amk.um.a.rz.z.z1.002
379  379    380         ...  True              ramkumarzzz1002
432  432    433         ...  True              simbasa.h.u9.8.8
433  433    434         ...  True              simbasa.h.u9.88
434  434    435         ...  True              simbasa.h.u98.8
435  435    436         ...  True              simbasa.h.u988
436  436    437         ...  True              simbasa.hu.9.88
437  437    438         ...  True              simbasa.hu.98.8
438  438    439         ...  True              simbasa.hu.988
439  439    440         ...  True              simbasa.hu9.8.8
440  440    441         ...  True              simbasa.hu98.8
441  441    442         ...  True              simbasah.u.98.8
449  449    450         ...  True              simbasah.u9.88
450  450    451         ...  True              simbasah.u98.8
451  451    452         ...  True              simbasah.u988
452  452    453         ...  True              simbasahu.9.88
453  453    454         ...  True              simbasahu.98.8
454  454    455         ...  True              simbasahu.988
455  455    456         ...  True              simbasahu9.8.8
457  457    458         ...  True              simbasahu9.88
458  458    459         ...  True              simbasahu98.8
459  459    460         ...  True              simbasahu988
579  579    580         ...  True              yashphadke5466

[60 rows x 16 columns]